@use "../../../assets/mixins/mixins.scss" as *;
.nav-bar{
  margin-top: 16px;
  padding: 10px;
  box-shadow: 1px 0 14px 0 lightgrey;
  height: 97%;
  border-radius: 16px;
  max-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  &__title{
    margin-bottom: 20px;
    font-size: 32px;
    color: #1f1e1e;
  }
  &__accordion{
    &__item{
      &__header{
        button{
          border: unset;
          padding: 10px 20px;
          margin-bottom: 10px;
          border-radius: 10px;
          background-color: #0e0e0e;
          a{
            text-decoration: unset;
          }
        }
      }

      &__body{
         ul{
          border: unset;

          margin-bottom: 10px;
          li{
            padding: 4px 20px;
            cursor: pointer;
            @include flex(center, center);
            a{
              text-decoration: unset;
              @include underline(1.05)
            }
          }
        }
      }
    }
  }
}
