<div class="nav-bar">
  <div class="nav-bar__title">
    <h3>
      category
    </h3>
  </div>

  <div class="nav-bar__accordion">
    <div class="nav-bar__accordion__item">
      <div class="nav-bar__accordion__item__header">
        <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
          <div>
            <a href="#">Category</a>
          </div>
        </button>
      </div>
      <div id="collapseOne" class="nav-bar__accordion__item__body collapse show" data-bs-parent="#accardionExample">
        <div>
          <ul>
            <li>item1</li>
            <li>item1</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
