<div class="nav-bar" >
  <div class="nav-bar__title">
    <h3>
      category
    </h3>
  </div>
  <div class="nav-bar__accordion" >
    <div class="nav-bar__accordion__item" *ngFor="let category of $test$(); let i = index">
      <div class="nav-bar__accordion__item__header" >
        <button type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i">
            <a href="#">{{category.category}}</a>


        </button>
      </div>
      <div [id]="'collapse' + i" class="nav-bar__accordion__item__body collapse show" >
          <ul>
            <li *ngFor="let sub of category?.children"><a href="#">{{ sub.category }}</a></li>
          </ul>
      </div>
    </div>
  </div>

  