<div class="layout-header">
  <div class="layout-header__row row">
    <div class="layout-header__brand my-1">
      <h1>estore</h1>
    </div>
    <div class="layout-header__search p-0 my-4 w-50 h-30 bg-white">
      <select class="drowdown p-0 m-0">
        <option *ngFor="let option of options">{{ option }}</option>
      </select>
      <input class="form-control search-box" placeholder="search..." />
      <button class="search-button h-30">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
    <div class="layout-header__icons">
      <div>
        <fa-icon class="user-icon" [icon]="faUserCircle"></fa-icon>
        <h4><a href="#">Sign in</a></h4>
        /
        <h4><a href="#">Register</a></h4>
      </div>
      <div>
        <fa-icon class="user-icon" [icon]="faHeart"></fa-icon>
        <fa-icon class="user-icon" [icon]="faShoppingCart"></fa-icon>
      </div>
    </div>
  </div>
</div>
